<%- include('../components/dashboard/navabar.ejs') %>

    <body>
        <main style="padding-block: 20px; margin-top: 80px ;">
            <div class="cards-container container flex">
                <div class="card">
                    <div class="card-header">
                        <img src="https://liveblog.digitalimages.sky/lc-images-sky/lcimg-89d9c734-56eb-48c9-9ba2-e56661f8da00.jpeg"
                            alt="news-img" id="news-img" height="230px">
                    </div>
                    <div class="card-content">
                        <h3 id="news-title">Northern Ireland 0-0 Kazakhstan</h3>
                        <h6 class="news-source" id="news-source">Sky Sports 29/06/2023</h6>
                        <p class="news-desc" id="news-desc">"It's not happening for either side at the
                            moment.
                            Both have had
                            their
                            chances to take a grip of the game but, as the
                            half has progressed, it's turned into a frustrated stalemate.Though
                            everything is
                            side by side and win win situation almost there to cheer up the whole crowd"
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <img src="https://liveblog.digitalimages.sky/lc-images-sky/lcimg-a3342f62-1ed8-40f7-bc88-b44a0a2bee04.jpeg"
                            alt="news-img" id="news-img" height="230px">
                    </div>
                    <div class="card-content">
                        <h3 id="news-title">Future massively bright for England</h3>
                        <h6 class="news-source" id="news-source">Lee Hendrie on Sky 2/06/2023</h6>
                        <p class="news-desc" id="news-desc">"Walker and Shaw have been instrumental.
                            They
                            haven't had a lot of the ball but their movement, the times they've gone
                            on overlaps and underlaps, has made things really difficult for North
                            Macedonia.
                            "It's so exciting to think we've still got so many players in the squad not
                            playing"
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <img src="https://imgnew.outlookindia.com/uploadimage/library/16_9/16_9_5/IMAGE_1687180076.webp"
                            alt="news-img" id="news-img" height="230px">
                    </div>
                    <div class="card-content">
                        <h3 id="news-title">The Ashes, 1st Test, Day 4: Australia Remove Joe</h3>
                        <h6 class="news-source" id="news-source">Outlook Ind 22/06/2023</h6>
                        <p class="news-desc" id="news-desc">England attacked from the first ball Monday
                            and
                            Australia struck back by taking three wickets as the hosts went to lunch
                            at 155-5 on the fourth day of the Ashes opener for an overall lead of 162
                            runs.
                            (More Cricket News)

                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <img src="https://imgnew.outlookindia.com/uploadimage/library/16_9/16_9_5/IMAGE_1687180076.webp"
                            alt="news-img" id="news-img" height="230px">
                    </div>
                    <div class="card-content">
                        <h3 id="news-title">The Ashes, 1st Test, Day 4: Australia Remove Joe</h3>
                        <h6 class="news-source" id="news-source">Outlook Ind 22/06/2023</h6>
                        <p class="news-desc" id="news-desc">England attacked from the first ball Monday
                            and
                            Australia struck back by taking three wickets as the hosts went to lunch
                            at 155-5 on the fourth day of the Ashes opener for an overall lead of 162
                            runs.
                            (More Cricket News)

                        </p>
                    </div>
                </div>
        </main>



    </body>