<%- include('../components/dashboard/navabar.ejs') %>

    <style>
        main {
            margin-top: 100px;
            max-width: 1280px;
            margin-inline: auto;
        }

        table {
            border: 1px solid orange;
            border-collapse: collapse;
        }

        thead {
            background-color: orange;
            color: white;
        }

        thead th {
            padding: 10px;
        }

        tbody tr td {
            text-align: center;
            border-right: 1px solid orange;
            padding: 10px;
        }
    </style>

    <main>
        <h3 class="main-title">Schedule</h3>
        <table>
            <thead>
                <th>Title</th>
                <th>Games between</th>
                <th>Date</th>
                <th>Time</th>
            </thead>
            <tbody>
                <tr>
                    <td>radi ko ban</td>
                    <td>madarchod</td>
                    <td>29/29/2022</td>
                    <td>2:30 pm</td>
                </tr>
                <tr>
                    <td>radi ko ban</td>
                    <td>madarchod</td>
                    <td>29/29/2022</td>
                    <td>2:30 pm</td>
                </tr>
                <tr>
                    <td>radi ko ban</td>
                    <td>madarchod</td>
                    <td>29/29/2022</td>
                    <td>2:30 pm</td>
                </tr>
            </tbody>
        </table>
    </main>